<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            font-family: sans-serif;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Link Shortener</h1>
    <% if (!userObj) { %>
        <a href="/login">Login</a><br>
        <a href="/register">Register</a>
    <% } else { %>
    <p>You're logged in as <%= userObj.email %></p>
    <form method="POST" action="/logout">
        <input type='submit' value="Logout">
    </form>
    <% }; %>
</body>
</html>