<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <style> 
        * {
            font-family: sans-serif;
            text-align: left
    }
        h1, p, a {
            text-align: center
    }
        input[type=email], input[type=password], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
    }

        #submit1 {
            width: 100%;
            text-align: center;
            background-color: blue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
    }
        div {
            border-radius: 5px;
            margin: auto;
            width: 40%;
            padding: 20px;
    }
    </style>
</head>
<body>
    <h1>Tiny URL</h1>
    <% if (!userObj) { %>
    <div id="input">
        <form method="POST" action="/login">
            Email:<input type="email" name="email"><br>
            Password:<input type="password" name="password">
            <input id="submit1" type="submit" value="Login">
        </form> 
    </div>
        <p><a href="/register">Or click here to register</a></p>
    <% } else { %>
    <p>Hi! You're logged in as <%= userObj.email %></p>
    <p><a href="/urls">Your shortened URLs</a></p>
    <form method="POST" action="/logout">
        <input type='submit' value="Logout">
    </form>
    <% }; %>
</body>
</html>