<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Link Shortener</h1>
    <% if (!userObj) { %>
    <p>Please login</p>
        <form method="POST" action="/login">
            Email:<input type="email" name="email">
            Password:<input type="password" name="password">
            <input type="submit">
        </form> 
    <% } else { %>
    <p>Hi! You're logged in as <%= userObj.email %></p>
    <form method="POST" action="/logout">
        <input type='submit' value="Logout">
    </form>
    <% }; %>
</body>
</html>