<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style> * {
            font-family: sans-serif
        }
        </style>
</head>
<body>
    <h1>Link Shortener</h1>
    <% if (!userObj) { %>
        <p>Input your details below to register</p>
            <form method="POST" action="/register">
                Email:<input type="email" name="email">
                Password:<input type="password" name="password">
                <input type="submit">
            </form> 
            <p><a href='/login'>Click here to login if you already have an account</a></p>
        <% } else { %>
        <p>Hi! You're already logged in as <%= userObj.email %></p>
        <a href="/urls">Home page</a>
        </form>
        <form method="POST" action="/logout">
            <input type='submit' value="Logout">
        </form>
        <% }; %>
</body>
</html>

