<!DOCTYPE html>
<html lang="en">
  <head>
  <style> 
    * {
      font-family: sans-serif
    }
    div {
            margin: auto;
            width: 50%;
    }
  </style>
  </head>
  <body>
    <% include partials/_header %>  
    <% if (!userObj) { %>  
    <% } else { %>
      <div>
        <form action="/urls" method="POST" style="margin:150px;">
          <label for="longURL">Enter a URL to shorten:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
        </form>
    </div>
    <% }; %>
  </body>
</html>