<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
            <% include partials/_header %>
    </header>
    <p>
        Short URL: <%= shortURL %> <br>
        Long URL: <%= longURL[shortURL] %>
        <form method="POST" action="/urls/<%= shortURL %>/">
            <input name="longURL" style="width:15%" type="text" value="<%= longURL[shortURL] %>">
            <input type="submit" value="Update URL">
        </form>
    </p>
    <p><a href="/urls">Click here to see all shortened URLs</a></p>
</body>
</html>