<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <p>
        <%= shortURL %>
        <%= longURL[shortURL] %>
        <form method="POST" action="/urls/<%= shortURL %>/">
            <input name="longURL" style="width:15%" type="text" value="<%= longURL[shortURL] %>">
        <input type="submit" value="Update URL"></form>
    </p>
</body>
</html>