<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
    <table cellpadding="10" style="width:50%" align="center">
        <tr>
        </tr>
        <% for (let url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
        <tr>
            <th><%= url %></th>
            <th><%= urls[url].longURL%></th>
            <th><a href="/urls/<%= url %>"> Edit </a></th>
            <th><input type="submit" value="DeleteðŸ—‘ï¸" style="width:100px"></form></th>
        </tr>
        <% }; %>
    </table>
    <a style="padding:10px;word-wrap:normal;display:inline-block" href='/urls/new'>Shorten a new url</a>
</body>
</html>