<!DOCTYPE html>
<html lang="en">
  <head></head>
  <style> * {
    font-family: sans-serif
  }
  </style>
  <body style="font-size:20px; padding:50px;">
    <!-- <% include partials/_header %> -->  
    <h1>Link Shortener</h1>
    <% if (!userObj) { %>  
      Please login or register to continue:
      <p><a href="/login">Login</a></p>
      <p><a href="/register">Register</a></p>
    <% } else { %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL to shorten:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    <% }; %>
  </body>
</html>