<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
    <ul> 
        <% for (let url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
        <li style="padding:0.5rem"><%= url %>: <%= urls[url]%><a href="/urls/<%= url %>"> Edit </a>
        <input type="submit" value="DeleteðŸ—‘ï¸"></form></li>
        <% }; %>
    </ul>
    <a href='/urls/new'>Shorten a new url</a>
</body>
</html>